@model User

@if (Model != null) {
    <div class="profile-sidebar">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">Welcome, @Model.Name!</div>
        </div>
        <div class="clear"></div>
    </div>
}