@model User

@{
    ViewData["Title"] = "Login";
    ViewData["SubTitle"] = "Enter your registered email and password to access the administrative panel";
    Layout = "_LayoutUserPage";
}

<div class="card">

    <div class="card-body p-4">
        @if (TempData["MSG_S"] != null) {
            <div class="alert bg-success alert-dismissible" role="alert">
                <em class="fa fa-lg fa-warning">&nbsp;</em>
                @TempData["MSG_S"]
                <a data-dismiss="alert" aria-label="Close" class="pull-right">
                    <em class="fa fa-lg fa-close"></em>
                </a>
            </div>
        }

        @if (TempData["MSG_E"] != null) {
            <div class="alert bg-danger alert-dismissible" role="alert">
                <em class="fa fa-lg fa-warning">&nbsp;</em>
                @TempData["MSG_E"]
                <a data-dismiss="alert" aria-label="Close" class="pull-right">
                    <em class="fa fa-lg fa-close"></em>
                </a>
            </div>
        }

        <form id="frmLogin" asp-action="Login" method="post">

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit"> Sign in </button>
            </div>
        </form>
    </div>
</div>