@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["MSG_S"] != null) {
    <div class="alert bg-success alert-dismissible" role="alert">
        <em class="fa fa-lg fa-warning">&nbsp;</em>
        @TempData["MSG_S"]
        <a data-dismiss="alert" aria-label="Close" class="pull-right">
            <em class="fa fa-lg fa-close"></em>
        </a>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome to Administrator area!!</h1>
</div>
