@model User

@{
    ViewData["Title"] = "Home Page";
}

    <div class="card">

        <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
                <a href="index.html">
                    <span><img src="~/assets/images/logo-dark.png" alt="" height="26"></span>
                </a>
                <h2 class="text-center auth -title">Acessar o sistema</h2>
                <p class="text-muted mb-4 mt-3">Insira seu e-mail e senha cadastrados para acessar o painel administrativo.</p>
            </div>


            <form id="frmLogin">

                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-danger btn-block" type="submit"> Entrar </button>
                </div>
            </form>
        </div> <!-- end card-body -->

        <div class="row mt-3">
            <div class="col-12 text-center">
                <p> <a href="pages-recoverpw.html" class="text-muted ml-1">Esqueceu sua senha?</a></p>
                @*<p class="text-muted">Don't have an account? <a href="pages-register.html" class="text-muted ml-1"><b class="font-weight-semibold">Sign Up</b></a></p>*@
            </div> <!-- end col -->
        </div>
    </div>
    <!-- end card -->
